<div class='collect_list sec'>
	<p>Editing Collection</p>
    <ul>
      <li>

    		<%= render 'form' %>
        
    		<%= link_to 'Show', @collection %>
    		<%= link_to 'Back', collections_path %>
      </li>
    </ul> 
</div>