<div class='collect_list sec'>
  <!-- Displays a list of Collection names -->
	<p>Collections:</p>
		<% @collections.each do |c| %>
			<ul>
				<li><%= c.name  %>
        <!-- Followed by links -->
        <br>
				<%= link_to 'View', collection_path(c)  %>

        <%= link_to 'Edit', edit_collection_path(c) %>

        <%= link_to 'Delete', collection_path(c), method: :delete %></li>
			</ul>
		<% end %>
</div>