<p>
	author partial
	Name: <%= author.name %> 
</p>

<p>
	
  <%= link_to 'Destroy Author', [author.collection, author],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>

  <%#= render author.books %>
</p>
