body {
	margin: 0;
	padding: 0;
	background-color: #white;
}

header {
	float: left;
	width: 100%;
	padding-left: 20px;
	background-color: #33cec3;
	color: #00665e;
}

footer {
	position: relative;
	clear: both;
	float: left;
	width: 100%;
	padding-top: 20px;
	background-color: #00665e;
	color: #5dcec6;
	padding-bottom: 20px;
	text-align: center;
	font-style: italic;
}

section {
	width: 100%;
	float: left;
	clear: left;
}

/*notifications and sign in*/
#top_menu {
	width: 100%;
	float: left;
	display: inline;
	width: 100%;
}
/*sign in*/
#sign {
	float: right;
	margin: 0;
	width: 250px;
	background-color: #009d91;
	border: 1px solid black;
}

#sign ul {
	margin-left: 20px;
	padding: 0;
	list-style: none;
	display: inline;
}
#sign ul li {
 	display: inline;
 	line-height: 1.8em;
 	color: #00665e;
 }

#sign ul li a:link, #sign ul li a:visited{
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	padding: 7px 10px 7px 10px;
	background-color: #33c3d7;
	color: #00665e;
}

#sign ul li a:hover, #sign ul li a:active {
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	padding: 7px 10px 7px 10px;
	background-color: #006363;
	color: #33c3d7;
}


#sign {
	float: right;
	margin: 0;
	width: 250px;
	background-color: #009d91;
	border: 1px solid black;
}

/*Main Body*/
#wrapper {
	float: left;
	padding-left: 250px;
	overflow: hidden;
}

/*left side menu for collections*/
#collections {
	position: relative;
	float: left;
	width: 250px;
	background-color: #009999;
	right: 250px;
	/*margin-left: -100%;*/
	/*margin-bottom: -2000px;
	padding-bottom: -2000px;*/
}


#collections ul {
	margin-right: 20px;
	padding: 0;
	list-style: none;
	display: inline;
}

#collections ul li {
 	display: inline;
 	line-height: 1.8em;
 	color: #00665e;
 }

#collections ul li a:link, #collections ul li a:visited{
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	padding: 7px 10px 7px 10px;
	background-color: #33c3d7;
	color: #00665e;
}

#collections ul li a:hover, #collections ul li a:active {
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	padding: 7px 10px 7px 10px;
	background-color: #006363;
	color: #33c3d7;
}

/*left side collections list*/

#collect_list {
	clear: left;
	position: relative;
	font-size: 22pt;
	font-style: bold;
	float: left;
	width: 250px;
	background-color: white;
	right: 250px;
	padding-left: 10px;
	/*margin-left: -100%;*/
	/*margin-bottom: -2000px;
	padding-bottom: -2000px;*/
}


#collect_list ul {
	margin-right: 20px;
	padding: 0;
	list-style: none;
	display: block;
}

#collect_list ul li {
	font-size: 16pt;
	font-style: italic;
 	display: inline;
 	line-height: 1.8em;
 	color: #000000;
 }

#collect_list ul li a:link, #collect_list ul li a:visited{
	font-size: 8pt;
	font-weight: bold;
	text-decoration: none;
	padding: 3px 5px 3px 5px;
	background-color: #33c3d7;
	color: #00665e;
}

#collect_list ul li a:hover, #collect_list ul li a:active {
	font-size: 8pt;
	font-weight: bold;
	text-decoration: none;
	padding: 3px 5px 3px 5px;
	background-color: #006363;
	color: #33c3d7;
}

/*authors listing*/

#authors {
	position: relative;
	float: left;
	background-color: white;
	width: 100%;
	margin-bottom: -2000px;
	padding-bottom: -2000px;
}

