$primary-color:  #A7383D;
$lightest-color: #FBA7AB;
$light-color:    #D1686E;
$dark-color:     #7D151A;
$darkest-color:  #540004;
$pri-back:	rgba(167,56,62,0.9);
$lightest-back: rgba(251,167,171,0.75);
$light-back: rgba(209,104,109,0.5);

body {
	margin: 0;
	padding: 0;
	background-color: #E0E1D9;
	font-size: 100%;
	font-family: Helvetica, arial, sans-serif;
	background-repeat: repeat;
	background-image: image-url('colorful_books.jpg');
}

header {
	float: left;
	width: 100%;
	padding-left: 20px;
	background-color: $pri-back;
	color: $lightest-color;
}

section {
	width: 100%;
	min-height: 580px;
	float: left;
	clear: left;

}

/*notifications and sign in*/

#top_menu {
	width: 100%;
	float: right;
	display: inline;
	width: 100%;
}

/*sign in*/

#sign {
	float: right;
	margin: 0;
	width: 250px;
	background-color: $dark-color;
	left: 250px;
	border: 1px solid black;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#sign ul {
	margin-left: 20px;
	padding: 0;
	list-style: none;
	display: inline;
}

#sign ul li {
 	display: inline;
 	line-height: 1.8em;
 	color: $light-color;
 }

#sign ul li a:link, #sign ul li a:visited{
	font-size: .75em;
	font-weight: bold;
	text-decoration: none;
	padding: 7px 10px 7px 10px;
	background-color: $light-color;
	color: $darkest-color;
	border-radius: 8px;
}

#sign ul li a:hover, #sign ul li a:active {
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	padding: 7px 10px 7px 10px;
	background-color: $darkest-color;
	color: $light-color;
	border-radius: 8px;
}

/* Header */

h1 {
	color: $darkest-color;
	font-style: italic;
}

/*Main Body*/

#wrapper {
	width: 100%;
	float: left;
	padding-left: 250px;
	overflow: hidden;
	clear: both;
}

/*left side menu for collections*/

#collect_nav {
	position: relative;
	float: left;
	width: 320px;
	background-color: $dark-color;
	right: 250px;
	margin-bottom: 10px;
	border: 1px solid black;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

#collect_nav ul {
	margin-right: 20px;
	margin-left: 80px;
	padding: 0;
	list-style: none;
	display: inline;
	clear: both;
}

#collect_nav ul li {
 	display: inline;
 	line-height: 1.8em;
 	color: $light-color;
 }

#collect_nav ul li a:link, #collect_nav ul li a:visited{
	font-size: .75em;
	font-weight: bold;
	text-decoration: none;
	padding: 7px 10px 7px 10px;
	background-color: $light-color;
	color: $darkest-color;
	border-radius: 8px;
}

#collect_nav ul li a:hover, #collect_nav ul li a:active {
	font-size: .75em;
	font-weight: bold;
	text-decoration: none;
	padding: 7px 10px 7px 10px;
	background-color: $darkest-color;
	color: $light-color;
	border-radius: 8px;
}

/*left side collections list*/

// 
// 
// is this used?
// 
// 

// #collect_list {
// 	clear: left;
// 	position: relative;
// 	font-size: 1.0em;
// 	font-style: bold;
// 	float: left;
// 	width: 250px;
// 	background-color: #E0E1D9;
// 	right: 250px;
// 	padding-top: 10px;
// }

div.collect_list {
	width: 20%;
	background-color: $lightest-back;
}

.collect_list {
	margin-left: 10px;
}

.collect_list p {
	font-size: 1.4em;
	margin-left: 10px;
	color: $darkest-color;
}


.collect_list ul {
	margin-right: 20px;
	padding: 0;
	margin-left: 10px;
	list-style: none;
	display: block;
}

.collect_list ul li {
	margin-left: 10px;
	font-size: 1.2em;
	font-style: italic;
 	display: inline;
 	line-height: 1.8em;
 	color: $darkest-color;
 }

.collect_list ul li a:link, .collect_list ul li a:visited{
	font-size: .8em;
	font-weight: bold;
	text-decoration: none;
	padding: 3px 5px 3px 5px;
	background-color: $darkest-color;
	color: $light-color;
	border-radius: 8px;
}

.collect_list ul li a:hover, .collect_list ul li a:active {
	font-size: .8em;
	font-weight: bold;
	text-decoration: none;
	padding: 3px 5px 3px 5px;
	background-color: $light-color;
	color: $darkest-color;
	border-radius: 8px;
}

.collect_list input {
	font-size: .8em;
	font-weight: bold;
	text-decoration: none;
	width: 300px;
	padding: 3px 5px 3px 5px;
	background-color: #b9c37f;
	color: #596900;
}

.collect_list label {
	color: #596900;
}

/* blocking for authors and books */

div#author_form {
	background-color: $light-back;
	float: left;
	width: 25%;
}

div#books {
	float: right;
	width: 75%;
}

div#advert {
	float: left;
	width: 25%;

}

/*authors listing*/

#authors {
	clear: both;
	float: left;
	display: block;
	margin-left: 40px;
	background-color: #E0E1D9;
	width: 100%;
	font-size: 1.5em;
	font-style: italic;
	color: #596900;
}

div#authors {
	padding-left: 20px;
	background-repeat: repeat;
	background-image: image-url('z-round.png');
	color: $darkest-color;
}

#authors p {
	background-color: $pri-back;
	padding-left: 10px;
	// color: $darkest-color;
}

#authors ul {
	margin-right: 20px;
	padding: 0;
	list-style: none;
	display: inline;
}

#authors ul li {
	font-size: .8em;
	font-style: italic;
 	display: inline;
 	line-height: 1.8em;
 	color: #596900;
 }

#authors a:link, #authors a:visited{
	font-size: .6em;
	font-weight: bold;
	text-decoration: none;
	padding: 3px 5px 3px 5px;
	background-color: #b9c37f;
	color: #596900;
	border-radius: 8px;
}

#authors a:hover, #authors a:active {
	font-size: .6em;
	font-weight: bold;
	text-decoration: none;
	padding: 3px 5px 3px 5px;
	background-color: #006363;
	color: #b9c37f;

}

#authors input {
	font-size: .8em;
	font-weight: bold;
	text-decoration: none;
	width: 300px;
	padding: 3px 5px 3px 5px;
	background-color: #b9c37f;
	color: #596900;
}

/* Recommended books properties */

#recommend {
	margin-left: 40px;
}

/* Table properties */

table {
	background-color: $light-back;
	border-collapse: separate;
	border-spacing: 8px;
	caption-side: bottom;
	empty-cells: show;
	margin: 20px auto; 
	table-layout: auto; 
	width: 99%; }
	
	table caption {
		font: normal 3em 'TitleCopy', Corbel, Helvetica, Arial, sans-serif; }

	table thead {
		font-size: 1em;
		font-style: normal;
		font-variant: small-caps;
		text-shadow: 0px 1px 1px rgba(255,255,255,.2), 0px -1px 1px rgba(0,0,0,.2); }
	
tr {
	font-size: 0.8em; }

td {
	vertical-align: top;
	padding: .5em;
	background-color: rgba(200, 200, 180,.25);
	border: 1px solid rgb(200, 200, 180); 
}

/* Advertisement */

div#advertisement {
	height: 200px;
	background-repeat: no-repeat;
	background-image: image-url('borders.png');
}

/* Footer properties*/

footer {
	position: relative;
	clear: both;
	float: left;
	width: 100%;
	padding-top: 20px;
	background-color: $pri-back;
	color: $darkest-color;
	padding-bottom: 20px;
	text-align: center;
	font-style: italic;
	margin-top: 15px;
}
