body {
	margin: 0;
	padding: 0;
	background-color: white;
	font-size: 100%;
	font-family: Helvetica, arial, sans-serif;
}

header {
	float: left;
	width: 100%;
	padding-left: 20px;
	background-color: #33cec3;
	color: #00665e;
}

section {
	width: 99%;
	float: left;
	clear: left;
}

/*notifications and sign in*/
#top_menu {
	width: 99%;
	float: right;
	display: inline;
	width: 99%;
}
/*sign in*/
#sign {
	float: right;
	margin: 0;
	width: 250px;
	background-color: #009d91;
	border: 1px solid black;
}

#sign ul {
	margin-left: 20px;
	padding: 0;
	list-style: none;
	display: inline;
}
#sign ul li {
 	display: inline;
 	line-height: 1.8em;
 	color: #00665e;
 }

#sign ul li a:link, #sign ul li a:visited{
	font-size: .75em;
	font-weight: bold;
	text-decoration: none;
	padding: 7px 10px 7px 10px;
	background-color: #33c3d7;
	color: #00665e;
}

#sign ul li a:hover, #sign ul li a:active {
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	padding: 7px 10px 7px 10px;
	background-color: #006363;
	color: #33c3d7;
}


#sign {
	float: right;
	margin: 0;
	width: 250px;
	background-color: #009d91;
	border: 1px solid black;
}

/*Main Body*/
#wrapper {
	width: 100%;
	float: left;
	padding-left: 250px;
	overflow: hidden;
	clear: both;
}

/*left side menu for collections*/
#collections {
	position: relative;
	float: left;
	width: 250px;
	background-color: #009999;
	right: 250px;
}


#collections ul {
	margin-right: 20px;
	padding: 0;
	list-style: none;
	display: inline;
	clear: both;
}

#collections ul li {
 	display: inline;
 	line-height: 1.8em;
 	color: #00665e;
 }

#collections ul li a:link, #collections ul li a:visited{
	font-size: .75em;
	font-weight: bold;
	text-decoration: none;
	padding: 7px 10px 7px 10px;
	background-color: #33c3d7;
	color: #00665e;
}

#collections ul li a:hover, #collections ul li a:active {
	font-size: .75em;
	font-weight: bold;
	text-decoration: none;
	padding: 7px 10px 7px 10px;
	background-color: #006363;
	color: #33c3d7;
}

/*left side collections list*/

#collect_list {
	clear: left;
	position: relative;
	font-size: 1.0em;
	font-style: bold;
	float: left;
	width: 250px;
	background-color: white;
	right: 250px;
	padding-left: 10px;
}

#collect_list p {
	color: #00665e;
}


#collect_list ul {
	margin-right: 20px;
	padding: 0;
	list-style: none;
	display: block;
}

#collect_list ul li {
	font-size: .8em;
	font-style: italic;
 	display: inline;
 	line-height: 1.8em;
 	color: #000000;
 }

#collect_list ul li a:link, #collect_list ul li a:visited{
	font-size: .6em;
	font-weight: bold;
	text-decoration: none;
	padding: 3px 5px 3px 5px;
	background-color: #33c3d7;
	color: #00665e;
}

#collect_list ul li a:hover, #collect_list ul li a:active {
	font-size: .6em;
	font-weight: bold;
	text-decoration: none;
	padding: 3px 5px 3px 5px;
	background-color: #006363;
	color: #33c3d7;
}

/*authors listing*/

#authors {
	clear: both;
	float: left;
	display: block;
	margin-left: 20px;
	background-color: white;
	width: 100%;
	font-size: 1.5em;
	font-style: italic;
	color: #00665e;
}

#authors p {
	color: #00665e;
}

#authors ul {
	margin-right: 20px;
	padding: 0;
	list-style: none;
	display: inline;
}

#authors ul li {
	font-size: .8em;
	font-style: italic;
 	display: inline;
 	line-height: 1.8em;
 	color: #00665e;
 }

#authors a:link, #authors a:visited{
	font-size: .6em;
	font-weight: bold;
	text-decoration: none;
	padding: 3px 5px 3px 5px;
	background-color: #33c3d7;
	color: #00665e;
}

#authors a:hover, #authors a:active {
	font-size: .6em;
	font-weight: bold;
	text-decoration: none;
	padding: 3px 5px 3px 5px;
	background-color: #006363;
	color: #33c3d7;
}

#authors input {
	font-size: .8em;
	font-weight: bold;
	text-decoration: none;
	width: 300px;
	padding: 3px 5px 3px 5px;
	background-color: #33c3d7;
	color: #00665e;
}

/*#authors input:hover, #authors input:active {
	font-size: .6em;
	font-weight: bold;
	text-decoration: none;
	padding: 3px 5px 3px 5px;
	background-color: #006363;
	color: #33c3d7;
}*/

#recommend {
	margin-left: 40px;
}

/* Table properties */

table {
	border-collapse: separate;
	border-spacing: 8px;
	caption-side: bottom;
	empty-cells: show;
	margin: 20px auto; 
	table-layout: auto; 
	width: 99%; }
	
	table caption {
		font: normal 3em 'TitleCopy', Corbel, Helvetica, Arial, sans-serif; }

	table thead {
		font-size: 1em;
		font-style: normal;
		font-variant: small-caps;
		text-shadow: 0px 1px 1px rgba(255,255,255,.6), 0px -1px 1px rgba(0,0,0,.6); }
	
tr {
	font-size: 0.8em; }

td {
	vertical-align: top;
	padding: .5em;
	background-color: rgba(200, 200, 180,.25);
	border: 1px solid rgb(200, 200, 180); }



/**/
footer {
	position: relative;
	clear: both;
	float: left;
	width: 100%;
	padding-top: 20px;
	background-color: #00665e;
	color: #5dcec6;
	padding-bottom: 20px;
	text-align: center;
	font-style: italic;
	margin-top: 15px;
}
