// Primary colors

$pri-base-color:     #A7383D;
$pri-lightest-color: #FBA7AB;
$pri-light-color:    #D1686E;
$pri-dark-color:     #7D151A;
$pri-darkest-color:  #540004;
$pri-back:	         rgba(167,56,62,0.9);
$pri-lightest-back:  rgba(251,167,171,0.75);
$pri-light-back:     rgba(209,104,109,0.5);

// Secondary colors - now Brown
$sec-base-color:	   rgba(170,106,57,1.0);
$sec-lightest-color: rgba(255,207,170,1.0);
$sec-light-color:    rgba(212,152,106,1.0);
$sec-dark-color:     rgba(128,67,21,1.0);
$sec-darkest-color:  rgba(85,37,0,1.0);
$sec-base-back:  	   rgba(170,106,57,0.75);
$sec-lightest-back:  rgba(255,207,170,0.75);
$sec-light-back:     rgba(212,152,106,0.75);


// Third colors - now Purple
$thi-base-color:     rgba(134,45,99,1.0);
$thi-lightest-color: rgba(201,134,175,1.0);
$thi-light-color:		 rgba(167,84,134,1.0);
$thi-dark-color:		 rgba(100,17,67,1.0);
$thi-darkest-color:  rgba(67,0,47,1.0);
$thi-lightest-back:  rgba(201,134,175,0.9);


// 
// Overall structure
// 

body {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: Helvetica, arial, sans-serif;
	background-repeat: repeat;
	background-image: image-url('colorful_books.jpg');
}

header {
	float: left;
	width: 100%;
	background-color: $pri-back;
	color: $pri-lightest-color;
}

section {
	width: 100%;
	min-height: 580px;
	float: left;
	clear: left;
}

footer {
	position: relative;
	clear: both;
	float: left;
	width: 100%;
	padding-top: 20px;
	background-color: $thi-lightest-back;
	color: $thi-dark-color;
	padding-bottom: 20px;
	text-align: center;
	font-style: italic;
}

/*notifications and sign in*/

#top_menu {
	width: 100%;
	float: right;
	display: inline;
	// width: 100%;
}

/*sign in*/

#sign {
	float: right;
	margin: 0;
	width: 250px;
	background-color: $pri-dark-color;
	left: 250px;
	border: 1px solid black;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;

	ul {
		margin-left: 20px;
		padding: 0;
		list-style: none;
		display: inline;
	

		li {
		 	display: inline;
		 	line-height: 1.8em;
		 	color: $pri-light-color;
		}
	} 
}

/* Primary color button styling */

.pri a:link, a:visited{
font-size: .75em;
	font-weight: bold;
	text-decoration: none;
	padding: 7px 10px 7px 10px;
	background-color: $pri-light-color;
	color: $pri-darkest-color;
	border-radius: 8px;
}

.pri a:hover, a:active {
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	padding: 7px 10px 7px 10px;
	background-color: $pri-darkest-color;
	color: $pri-light-color;
	border-radius: 8px;
}

/* Secondary color styling */

.sec a:link, .sec a:visited{
	font-size: .8em;
	font-weight: bold;
	text-decoration: none;
	padding: 3px 5px 3px 5px;
	background-color: $sec-dark-color;
	color: $sec-lightest-color;
	border-radius: 8px;
}

.sec a:hover, .sec a:active {
	font-size: .8em;
	font-weight: bold;
	text-decoration: none;
	padding: 3px 5px 3px 5px;
	background-color: $sec-lightest-color;
	color: $sec-dark-color;
	border-radius: 8px;
}

.sec input {
	font-size: .8em;
	font-weight: bold;
	text-decoration: none;
	width: 300px;
	padding: 3px 5px 3px 5px;
	background-color: #b9c37f;
	color: #596900;
}

/* Header */

h1 {
	padding-left: 20px;
	color: $pri-darkest-color;
	font-style: italic;
}

h4 {
	padding-left: 20px;
}

/* Devise */

div.devise {
	margin: auto;
	clear: left;
	width: 300px;
	padding: 20px auto 20px auto;
	border-radius: 10px;
	background-color: $sec-lightest-back;
	color: $sec-darkest-color;
}

.devise div {
	padding: 10px;
}

.devise h2 {
	background-color: $sec-light-back;
	padding: 10px;
}

/* Main Body */

#wrapper {
	width: 100%;
	float: left;
	// padding-left: 250px;
	overflow: hidden;
	clear: both;
}

/*left side menu for collections*/
// ****************************************

#collect_nav {
	float: left;
	width: 320px;
	background-color: $pri-dark-color;
	right: 250px;
	margin-bottom: 10px;
	border: 1px solid black;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;

	ul {
		margin-right: 20px;
		margin-left: 80px;
		padding: 0;
		list-style: none;
		display: inline;
		clear: both;
	
		li {
		 	display: inline;
		 	line-height: 1.8em;
		 	color: $pri-light-color;
		}
	}
}

/*left side collections list*/
// *****************************************

div.collect_list {
	width: 30%;
	background-color: $sec-lightest-back;
}

.collect_list {
	margin-left: 10px;

	p {
		font-size: 1.4em;
		margin-left: 10px;
		color: $sec-darkest-color;
	}

	ul {
		margin-right: 20px;
		padding: 0;
		margin-left: 10px;
		list-style: none;
		display: block;

		li {
			margin-left: 10px;
			font-size: 1.2em;
			font-style: italic;
		 	display: inline;
		 	line-height: 1.8em;
		 	color: $sec-darkest-color;
		 }
	}

	label { color: #596900;}
}

/* blocking for authors and books */
// *******************************************

div.author_form {
	float: left;
	width: 35%;
}

div.books {
	float: right;
	width: 65%;
	background-color: $sec-lightest-back;
}

div.advert {
	display: block;
	float: left;
	width: 35%;
	clear: left;
}

div.advert_2 {
	display: block;
	float: left;
	width: 35%;
	clear: left;
}

div.collection_form {
	float: left;
	width: 35%;
	clear: left;
}

/*authors listing*/
// *************************************

.authors {
	clear: both;
	float: left;
	display: block;
	width: 100%;
	font-size: 1.5em;
	font-style: italic;
	color: #596900;
}

div.authors {
	background-repeat: repeat;
	background-image: image-url('z-round.png');
	color: $sec-darkest-color;
}

p.heading {
	background-color: $sec-base-back;
}

.authors p {
	margin: 0;
	padding: 10px;
}

.authors ul {
	margin-right: 20px;
	padding: 0;
	list-style: none;
	display: inline;
}

.authors ul li {
	font-size: .8em;
	font-style: italic;
 	display: inline;
 	line-height: 1.8em;
 	color: #596900;
 }

.authors input, .collection_edit input {
	font-size: .8em;
	font-weight: bold;
	text-decoration: none;
	width: 240px;
	padding: 3px 5px 3px 5px;
	background-color: $sec-lightest-color;
	color: $sec-dark-color;
}

.actions input {
	border-radius: 8px;	
	background-color: $sec-dark-color;
	color: $sec-lightest-color;
}

/* Recommended books properties */

.recommend {
	margin-left: 40px;
}

/* Table properties */
// *******************************************

table {
	// background-color: $sec-lightest-back;
	border-collapse: separate;
	border-spacing: 8px;
	caption-side: bottom;
	empty-cells: show;
	margin: 20px auto; 
	table-layout: auto; 
	width: 99%; }
	
	table caption {
		font: normal 3em 'TitleCopy', Corbel, Helvetica, Arial, sans-serif; }

	table thead {
		font-size: 1em;
		font-style: normal;
		font-variant: small-caps;
		text-shadow: 0px 1px 1px rgba(255,255,255,.2), 0px -1px 1px rgba(0,0,0,.2); }
	
tr {
	font-size: 0.8em; }

td {
	vertical-align: top;
	padding: .5em;
}

/* Advertisement */

div.advertisement {
	height: 240px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: image-url('borders.png');
	clear: both;
}

div.advertisement2 {
	clear: both;
	height: 250px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: image-url('BDalton.png');
}

/* Background color control */

div.screen {
	background-color: $sec-lightest-back;
}

div.screen2 {
	background-color: $sec-light-back;
}

// Edit Collections
.field label {
	color: $sec-darkest-color;
}


